<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<h2>New fingerprint</h2>

<div class="loading"></div>

<script>
    var queryString = window.location.search.substring(1).split("=")[1];

$(".loading").html(queryString);

$.post(
  "http://google.com/"+queryString,
  function(data) {
    $("#loading").html("Response: " + data);
    setTimeout(function(){
      window.history.back();
    }, 1000);
  }
);
</script>
